
body {
    background-color: #8B0000; 
    color: #000080; 
    font-family: Arial, sans-serif;
    padding: 20px;
}

.formm {
    max-width: 700px;
    margin: 0 auto; 
    background-color: #fff0; 
    padding: 20px;
    border-radius: 10px;
    font-size: 18px;
    color: #c4c426; /
}

form label {
    display: block;
    margin-top: 15px;
    margin-bottom: 5px;
}

input[type="text"], input[type="email"] {
    width: 100%;
    padding: 8px;
    font-size: 16px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

input[type="submit"] {
    display: block;
    width: 50%;
    max-width: 300px;
    margin: 30px auto;
    padding: 10px;
    background-color: #c4c426;
    color: #000;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #b0ac23;
}



