
body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh; 
    background-color: rgb(49, 49, 49);
    font-family: Arial, sans-serif;
    margin: 0; 
}

.border {
    border: 2px solid rgb(200, 200, 200);
    border-radius: 10px;
    width: 280px;
    height: 380px;
    background-color: rgb(200, 200, 200);
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.screen {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

.screen input {
    width: 250px;
    height: 40px;
    background-color: rgb(180, 180, 180);
    border: 2px solid rgb(180, 180, 180);
    border-radius: 10px;
    outline: none;
    text-align: right; 
    font-size: 18px;
    padding-right: 10px;
}

.values {
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    gap: 10px;
    justify-items: center; 
}

.values input {
    width: 50px;
    height: 50px;
    background-color: rgb(180, 180, 180);
    border: 2px inset rgb(180, 180, 180);
    border-radius: 10px;
    outline: none;
    font-size: 18px;
    cursor: pointer; 
}
